accelerate
diffusers==0.20.1
h5py
matplotlib
numpy==1.26.1
omegaconf
opencv-python
pandas
scipy==1.11.3
tabulate
tensorboard
torch==2.0.1
torchaudio
torchvision
torchshow
tqdm
transformers
triton
wandb==0.14.0
xformers
